@import 'styles/shared.scss';

.btn {
  outline: none;
  width: 100%;
  margin: auto;
  margin-top: 25px;
  height: 40px;
  background: $gradient-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
  transition: 250ms opacity linear;
  color: $white-color;
  font-weight: 600;

  &:hover {
    opacity: 1;
    color: $sign-color;
  }
}
