$main: #3c6b6e;
$line-color: #455a64;
$sign-color: #37474f;
$border-color: #90a4ae;
$white-color: #fff;
$hover-color: #cfd8dc;
$dark-color: #263238;
$btn-color: #a2b0b6;
$btn-hover-color: #76878f;
$gradient-color: linear-gradient(45deg, #78909c 30%, #cfd8dc 90%);
$error-color: rgb(124, 46, 46);
