@import 'styles/shared.scss';

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.Login__avatar {
  margin-bottom: 10px;
}

.Login__form {
  width: 100%;
}

.Login__input {
  box-sizing: border-box;
  all: unset;
  margin-top: 20px;
  width: calc(100% - 8px);
  height: 50px;
  font-size: 16px;
  padding-left: 8px;
  border: 1px solid $border-color;
  border-radius: 4px;

  &:focus {
    border: 1px solid $hover-color;
    box-shadow: 0 0 10px $hover-color;
  }

  &:focus {
    border: 1px solid $hover-color;
    box-shadow: 0 0 10px $hover-color;
  }
}
