@import 'styles/shared.scss';

.User__container {
  display: flex;
  align-items: center;
}

.User__avatar {
  margin-right: 6px;
  display: block;
  width: 30px;
  height: 30px;
}

.User__name {
  font-weight: 700;
  margin-right: 12px;
  font-size: 18px;
  color: $sign-color;
}
